<a href="https://colab.research.google.com/github/kratik28/github-slideshow/blob/master/02_ListsTuples_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists and Tuples

**Lists:** Holds multiple elements of various kinds, one of the built in structures to store collections of data. They are ordered and changeable. 

Lists are commonly used, has many interesting methods. 

**Tuples:** Holds multiple elements like lists, ordered but not changable. Not as commonly used by the end developer but often a part of the class methods.

## Tuples

In [ ]:
tup = (1,2,3,3)

In [ ]:
type(tup)

tuple

In [ ]:
len(tup)

4

In [ ]:
# tuples have interesting methods:
#
# tuples allow duplicates:
print(tup.count(3))
# tuples are indexed:
print(tup.index(2))

2
1

Here is another way to define tuples:


```
tup2 = 1,1,1,2,3,3
```

But you don't know me yet and shouldn't trust everything I say and check for yourself :)

In [ ]:
# define the tuple as shown above:
tup2 = 1,1,1,2,3,3

In [ ]:
# check its type
type(tup2)

tuple

In [ ]:
# check its values
tup2.count(2)

1

In [ ]:
# count the ones in it
tup2.count(1)

3

In [ ]:
whatami = [1,1,1,2,3,3 ]

In [ ]:
type(whatami)

list

In [ ]:
# what if I want to have a tuple with one data ?
tup3 = (2.5)
type(tup3)

float

In [ ]:
tup4 = (1,2)

In [ ]:
tup4 = (3,4,5)

## Lists

In [23]:
x= [1,2,3]
type(x)

list

In [24]:
x

[1, 2, 3]

In [5]:
y= ['a', 1, 2.3, True]

In [6]:
type(y)

list

I wonder, can lists host other lists, i.e. nested lists?

In [7]:
z= [1, 2, 3 , y , 'b']

In [8]:
z

[1, 2, 3, ['a', 1, 2.3, True], 'b']

In [17]:
print(len(z))
print(z.count(1))

5
1

#### Quick exercise

In [ ]:
# How many elements does z have? 
#(you can use a function you learnt for strings to answer this)

# your code here

In [ ]:
# How many 1s are there in z?

#your code here

## List methods
Lists have many more methods than tuples. 

While exploring those, let's see some other useful functions as we go:

In [18]:
tmp = list(range(10))

In [ ]:
tmp

In [20]:
# can we add the last number or take out the first one?

# my code here

In [21]:
# let's do sth similar with strings:
x = ['a', 'b', 'c']

In [22]:
x.append(4)

In [ ]:
x

['a', 'b', 'c', 4]

In [ ]:
# can we append to an empty list?
tmp2 = []
tmp2.append('will it work?')
tmp2

In [ ]:
# let's make this list a bit longer
tmp2 += x
tmp2

In [ ]:
# let's remove some elements
tmp2.pop()

In [ ]:
tmp2

In [ ]:
# Try the other following methods 
# what do they do?
#
# mylist.clear()
# mylist.remove()

## Indexing/Slicing

In [ ]:
slicer = [1,5,6,7,8]

In [ ]:
#How to access to data with its address
slicer[0]

In [ ]:
#can you guess what the following line will return?
#slicer[2]**2

In [ ]:
#python allows access from the reverse order too!
slicer[-1]

In [ ]:
#Note that not all languages start indexing from 0
# indeed this about python often causes a well known bug :)
len(slicer)

In [ ]:
#slicer[len(slicer)]

## Range selection

In [ ]:
print(slicer)
slicer[0:2]

In [ ]:
slicer[1:3]

In [ ]:
myword = "programming"
print(len(myword))
myword[0:3]

In [ ]:
# will this work, or give an index error?
myword[0:11]

In [ ]:
#Try the following, see what they do:
#myword[:]
#myword[8:]
#myword[:3]
#myword[3:7]
#myword[:-8]
#myword[-11:]
#myword[::-1]
#myword[-9:-5]

'gnimmargorp'

In [ ]:
#knowing how to reverse can get handy:
print(x)
x.reverse()
print(x)

[4, 'c', 'b', 'a']
['a', 'b', 'c', 4]

### Quick exercise:
1.  Define a new string "I started to like this course".
2.  Split the string by using space as the delimeter, and assing the output to a list
3.  Print the first element of the list
4.  Print the last element of the list
5.  Print the list reversed
6.  Print the second and third element of the list

### Even quicker exercise

1.  make a list that looks like `x=[2,3,...,30]`
2.  print the first 2, last 2, and 12th elements
3.  reverse the values of the list in place

In [ ]:
# One important nuance before we wrap this up
# make sure to check the type of what your commands return:
tmp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
tmp[0]

int

In [ ]:
tmp[:1]

[0]

## Insert and Extend

In [ ]:
# Insert an element at a position
mylist = [0,1,2,3]
mylist2= [4,5,6]

In [ ]:
mylist.insert(0,'a')
mylist

['a', 0, 1, 2, 3]

In [ ]:
mylist.extend('b')
mylist

['a', 0, 1, 2, 3, 'b']

In [ ]:
mylist.pop(0)
mylist.pop(-1)

'b'

In [ ]:
mylist.insert(4,mylist2)

In [ ]:
mylist.extend(mylist2)

In [ ]:
mylist + mylist2

[0, 1, 2, 3, 4, 5, 6]

#Lab time!
Hope you enjoyed this first intro to python data structures. Now beyond the basic data types such as integers, floats, you also know some data structures!

You are getting good at this! Now move to Lab notebook and solve the exercises there! As before, first make a github repo "ba765-session02" and then push your notebook there before you come *back* to the classroom